//
// _footer.scss
//

.footer {
    padding: 20px calc(#{$grid-gutter-width} * 0.75);
    color: var(--#{$prefix}footer-color);
    height: $footer-height;
    background-color: var(--#{$prefix}footer-bg);
    width: 100%;
}
